@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes slideDown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
  
  .animate-slideDown {
    animation: slideDown 0.3s ease-in-out;
  }


  ::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #808080;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 20px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #000; 
  }
  
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #000 #808080;
  }